<div class="login-hero">
    <div class="container">
        <form action="#">
            <div class="form-content">
                <div class="login-form">
                    <div class="tittle">
                        Login
                    </div>
                <div class="input-boxes">
                    <div class="input-boxes">
                        <input type="text" placeholder="Insira seu email" required>
                    </div>
                    <div class="input-boxes">
                        <input type="password" placeholder="Insira sua senha" required>
                    </div>
                    <div class="input-boxes">
                        <input type="text" placeholder="Insira seu email" required>
                    </div>
                    <div class="text">
                        <a href="#">Esqueceu a senha?</a>
                    </div>
                    <div class="input-box">
                        <input type="submit" value="Entrar">
                    </div>
                </div>
            </div>
            </div>
        </form>

    </div>
</div>
