<div class="hero">
    <nav>
        <h2 class="logo">
            Dev<span></span> In Agro
        </h2>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre nós</a></li>
            <li><a href="#"></a>Serviços</li>
            <li><a href="#"></a>Contato</li>
        </ul>
        <a href="#" class="btn"></a>
    </nav>
    <div class="content">
        <h4>Ola mundo</h4>
        <h1>Somos a Dev In Agro</h1>
        <p>Apaixonada por invovação</p>
    </div>
</div>


    <!-- Sobre nós -->

    <section class="about">
        <div class="main">
            <img src="./landing-page-images/pexels-balázs-benjamin-872483.jpg" alt="">
            <div class="about-text">
                <h2>Sobre nós</h2>
                <h5>Tecnologia <span>& Agronegocio</span></h5>
                <p>Somos uma startup que desenvolve negócios utilizando o agro</p>
                <button type="button">Entre em contato</button>

            </div>
        </div>
    </section>

    <div class='service'>
        <div class = 'tittle'>
            <h5>Nossos Serviços</h5>
        </div>
        <div class = 'box'>
            <div class="card">
                <h5>Desenvolvimento web</h5>
                <div class="pra">
                    <p>Todo website deveria ser criado com dois objetivos primários: Primeiramente, ele deveria funcionar em qualquer dispositivo. Segundo, deveria ser o mais veloz possível.</p>
                </div>
            </div>
            <div class="card">
                <h5>Desenvolvimento web</h5>
                <div class="pra">
                    <p>Todo website deveria ser criado com dois objetivos primários: Primeiramente, ele deveria funcionar em qualquer dispositivo. Segundo, deveria ser o mais veloz possível.</p>
                </div>
            </div>
            <div class="card">
                <h5>Desenvolvimento web</h5>
                <div class="pra">
                    <p>Todo website deveria ser criado com dois objetivos primários: Primeiramente, ele deveria funcionar em qualquer dispositivo. Segundo, deveria ser o mais veloz possível.</p>
                </div>
            </div>
        </div>
    </div>    



<div class="contact-me">
    <p>Deixe-nos levar a transformação digital para sua empresa</p>
    <a class="button-two" href="#">Contato</a>
</div>


<footer>
    <p>Dev In Agro</p>
    <p>Por mais informações entrar em contato</p>
</footer>